.bg{
    background-image: url("./Assets/back.webp");
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;

}

.bg2{
    background-image: url("./Assets/food.webp");
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;

}
.bg3{
    background-image: url("./Assets/11062b_8da4182dacb04fe38f005958db574f93f000.webp");
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;

}